{# Fixed site header – edit this single file to update the header on all pages #}
<header id="ecommerce-header">
    <div class="ecommerce-header-inner">
        <a href="{{ asset('StoreFront') }}">{{ trans('sawmill') }}</a>
    </div>
</header>
