{% extends "Master/MenuTemplate.html.twig" %}

{% block navbar %}{% endblock %}

{% block body %}
{% include 'Header.html.twig' %}
<div class="container mt-4">
    <div class="alert alert-info">
        <i class="fa-solid fa-info-circle"></i>
        {{ trans('redirecting') }}...
        <a href="{{ asset('Presupuesto') }}">{{ trans('presupuesto') }}</a>
    </div>
    <script>window.location.href = "{{ asset('Presupuesto') }}";</script>
</div>
{% endblock %}
